<a href="https://colab.research.google.com/github/DK5050/Cbitts-1/blob/main/My_Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Devesh")

Devesh

In [ ]:
a = "My name is Devesh"

print(a)

My name is Devesh

In [ ]:
print ("My name is Devesh")
print ("My age is 25")
print ("My address is Ridhi Towers, Shivalik City, Kharar")
print ("My hobbies are watching anime and reading manga")
print ("My family includes my mother, my father, my sister-in-law and my brother")
print ("My goal in life is to earn boatload of money")
print ("I have graduated from Chitkara University, Baddi")
print ("I ave completed my graduation in B.E Computer Science")

My name is Devesh
My age is 25
My address is Ridhi Towers, Shivalik City, Kharar
My hobbies are watching anime and reading manga
My family includes my mother, my father, my sister-in-law and my brother
My goal in life is to earn boatload of money
I have graduated from Chitkara University, Baddi
I ave completed my graduation in B.E Computer Science

In [ ]:
a = 25
print ("My age is",a)

My age is 25

In [ ]:
# Below if the Top 5 most populated states in India

print ("Most populated states in India")
print ("1. Uttar Pradesh with population of 199 million")
print ("2. Maharashtra with population of 112 million")
print ("3. Bihar with population of 104 million")
print ("4. West Bengal with population of 91 million")
print ("5. Madhya Pradesh with population of 72 million")

Most populated states in India
1. Uttar Pradesh with population of 199 million
2. Maharashtra with population of 112 million
3. Bihar with population of 104 million
4. West Bengal with population of 91 million
5. Madhya Pradesh with population of 72 million

In [ ]:
a = "Devesh"
b = "Kashyap"
print (a+b)

DeveshKashyap

In [ ]:
a =2
b = 3
print (a+b)

5

In [ ]:
# Below are the details of Account and aslo the Account Holder.
"""there are all the information about the account holder and account"""

print ("Account holder details")
print ("Account Holder name = Devesh Kashyap")
print ("Registered Mobile number = 6239887570")
print ("Residential Address = Ridhi Towers, Shivalik City, Kharar")

print ("Account Details")
print ("Account Number = 35356998033")
print ("IFSC Code = SBIN0000702")
print ("Bank Name = STATE BANK OF INDIA")
print ("Branch Name = SBI RAMPUR BUSR, HP")

Account holder details
Account Holder name = Devesh Kashyap
Registered Mobile number = 6239887570
Residential Address = Ridhi Towers, Shivalik City, Kharar
Account Details
Account Number = 35356998033
IFSC Code = SBIN0000702
Bank Name = STATE BANK OF INDIA
Branch Name = SBI RAMPUR BUSR, HP

In [ ]:
# Below if my daily routine shedule

print (" My Daily Routine")
print ("7:00 AM Wake-Up")
print ("7:30 AM -8:30 AM Morning Workout")
print ("8:30 AM Freshen Up Time")
print ("9:00 AM Breakfast Time")
print ("9:30 AM OFF TO WORK")
print ("1:30 PM Lunch Time")
print ("3:00 PM OFF TO HOME FROM WORK")
print ("3:30 PM - 5:30 PM Academy Time")
print ("6:00 PM - 8:00 PM Hangout with friends")
print ("9 PM Dinner Time")
print ("10:00 PM OFF TO SLEEP")

 My Daily Routine
7:00 AM Wake-Up
7:30 AM -8:30 AM Morning Workout
8:30 AM Freshen Up Time
9:00 AM Breakfast Time
9:30 AM OFF TO WORK
1:30 PM Lunch Time
3:00 PM OFF TO HOME FROM WORK
3:30 PM - 5:30 PM Academy Time
6:00 PM - 8:00 PM Hangout with friends
9 PM Dinner Time
10:00 PM OFF TO SLEEP

In [ ]:
#Below is my required monthly grocery list
"""all the items are in kg and litre"""

print ("Monthly Grocery List")
print ("Wheat = 10 kg")
print ("Rice = 10 kg")
print ("Sugar = 5 kg")
print ("Salt = 5 kg")
print ("Oil = 2 litre")
print ("Pulses = 2 kg/packet")
print ("Onion = 5 kg")
print ("Garlic = 2 kg")
print ("Potato = 5 kg")
print ("Ginger = 1 kg")
print ("Cold Drinks = 2 litre")
print ("Coffee = 1kg")
print ("Tea = 1 kg")
print ("1 Jumbo Pack of Corn Flakes")
print ("Porridge = 1 kg")

Monthly Grocery List
Wheat = 10 kg
Rice = 10 kg
Sugar = 5 kg
Salt = 5 kg
Oil = 2 litre
Pulses = 2 kg/packet
Onion = 5 kg
Garlic = 2 kg
Potato = 5 kg
Ginger = 1 kg
Cold Drinks = 2 litre
Coffee = 1kg
Tea = 1 kg
1 Jumbo Pack of Corn Flakes
Porridge = 1 kg

In [ ]:
# Below is the addition of 2 following numbers
"""first number is 73 and second number is 45"""

first_number, second_number = 73, 45

print("Sum of the numbers:", first_number + second_number)

Sum of the numbers: 118

In [ ]:
# Below is the multiplication of 2 following numbers
"""first number is 82 and second number is 65"""

first_number = 82
second_number = 65

print("Multiplication of the numbers:", first_number * second_number)

Multiplication of the numbers: 5330

In [ ]:
# Below is the division of the 2 following numbers
"""first number is 77 and second number is 33"""

first_number = 77
second_number = 33

print("Divisoin of the numbers:", first_number / second_number)

Divisoin of the numbers: 2.3333333333333335

In [ ]:
# Below is the percentage of the 2 following numbers
"""first number is 97 and second number is 39"""

first_number = 97
second_number = 39

print("Remainder of the numbers:", first_number % second_number)

Percentage of the numbers: 19

In [ ]:
# Menu prices:
# "Price of a Pizza": 150,
# "Price of a Pasta": 125,
# "Price of a Salad": 80,
# "Price of a Soda": 20


bill = int(input("Enter bill amount:"))
discount_input = input("Enter discount percentage:")

# Remove the '%' symbol if it exists and convert to integer
discount = int(discount_input.replace('%', ''))

if 0 <= discount <= 100:
  discounted_bill = bill - (bill * discount / 100)
  print("After discount your bill is: ", discounted_bill)
else:
  print("Invalid discount percentage entered.")

Enter bill amount:360
Enter discount percentage:30
After discount your bill is:  252.0

In [ ]:
a = float(input("Enter the first item:"))
b = float(input("Enter the second item:"))
c = float(input("Enter the third item:"))
discount = float(input("Enter the discount percentage:"))
bill = a + b + c
print("Your bill is:", bill)
discounted_bill = bill - (a+b * discount / 100)
print("After discount your bill is: ", discounted_bill)

Enter the first item:165
Enter the second item:230
Enter the third item:200
Enter the discount percentage:30
Your bill is: 595.0
After discount your bill is:  361.0

In [ ]:
a = float(input("Pizza:"))
b = float(input("Pasta:"))
c = float(input("Paneer Changezi:"))
d = float (input("Combo Offer, Coke and Fries:"))
price_person1 = float(input("Enter the price for person 1: "))
price_person2 = float(input("Enter the price for person 2: "))
discount = float(input("Enter the discount percentage:"))
bill = a + b + c
print("Your bill is:", bill)
discounted_bill = bill - (bill * discount / 100)
print("After discount your bill is: ", discounted_bill)

Pizza:450
Pasta:300
Paneer Changezi:200
Combo Offer, Coke and Fries:150
Enter the price for person 1: 650
Enter the price for person 2: 450
Enter the discount percentage:25
Your bill is: 950.0
After discount your bill is:  712.5

In [ ]:
# Below is the code for total items in a cart, their latest prices and discounts
a = float(input("Polo Shirts:"))
b = float(input("Nike Air Jordon:"))
c = float(input("Puma Trousers:"))
d = float(input("Adidas Tanktops:"))
e = float(input("Nike Shorts:"))
f = float(input("Oud Arabia:"))
g = float(input("Bella Vita Oud:"))
discount1 = float(input("Enter the discount percentage:"))
discount2 = float(input("Enter the discount percentage:"))
discount3 = float(input("Enter the discount percentage:"))
discount4 = float(input("Enter the discount percentage:"))
discount5 = float(input("Enter the discount percentage:"))
discount6 = float(input("Enter the discount percentage:"))
discount7 = float(input("Enter the discount percentage:"))
coupon = input("Enter the coupon code:")
bill = a + b + c + d + e + f + g
discounted_bill = bill - (bill * discount1 / 100)
print("After discount your bill is: ", discounted_bill)
print("Your bill is:", bill)

# Address and Personal Information

personal_info = {
    "Name": "Devesh Kashyap",
    "Mobile Number": "6239887570",
    "Address": "Ridhi Towers, Shivalik City, Kharar",
    "Email": "devesh.kashyap@example.com" # Added a placeholder email
}

print("--- Personal Information ---")
for key, value in personal_info.items():
    print(f"{key}: {value}")

Polo Shirts:3500
Nike Air Jordon:9500
Puma Trousers:4500
Adidas Tanktops:2500
Nike Shorts:2000
Oud Arabia:6000
Bella Vita Oud:500
Enter the discount percentage:20
Enter the discount percentage:25
Enter the discount percentage:35
Enter the discount percentage:70
Enter the discount percentage:15
Enter the discount percentage:40
Enter the discount percentage:20
Enter the coupon code:SHOP50
After discount your bill is:  22800.0
Your bill is: 28500.0
--- Personal Information ---
Name: Devesh Kashyap
Mobile Number: 6239887570
Address: Ridhi Towers, Shivalik City, Kharar
Email: devesh.kashyap@example.com

In [ ]:
a = float(input("Pizza:"))
b = float(input("Pasta:"))
c = float(input("Paneer Changezi:"))
d = float (input("Combo Offer, Coke and Fries:"))
price_person1 = float(input("Enter the price for person 1: "))
price_person2 = float(input("Enter the price for person 2: "))
discount = float(input("Enter the discount percentage:"))
bill = a + b + c
print("Your bill is:", bill)
discounted_bill = bill - (bill * discount / 100)
print("After discount your bill is: ", discounted_bill)

In [ ]:
Days = "Sunday"

if Days == "Saturday" or Days == "Sunday":
  print("Weekend")

elif Days == "Monday" or Days == "Tuesday" or Days == "Wednesday" or Days == "Thursday" or Days == "Friday":
  print("Weekday")

else:

  print("Non-weekend day")

Weekend

In [ ]:
def calculate_bill(price_person1, price_person2, discount_percentage):
  """Calculates the total bill before and after discount."""
  total_before_discount = price_person1 + price_person2
  discount_amount = (total_before_discount * discount_percentage) / 100
  total_after_discount = total_before_discount - discount_amount
  return total_before_discount, discount_amount, total_after_discount

# Get input from the user
price_person1 = float(input("Enter the price for person 1: "))
price_person2 = float(input("Enter the price for person 2: "))
discount_percentage = float(input("Enter the discount percentage: "))

# Calculate the bill
total_before_discount, discount_amount, total_after_discount = calculate_bill(
    price_person1, price_person2, discount_percentage
)

# Display the results
print("\n--- Bill Details ---")
print(f"Price for Person 1: Rs{price_person1:.2f}")
print(f"Price for Person 2: Rs{price_person2:.2f}")
print(f"Total bill before discount: Rs{total_before_discount:.2f}")
print(f"Discount percentage applied: {discount_percentage:.2f}%")
print(f"Discount amount: Rs{discount_amount:.2f}")
print(f"Total bill after discount: Rs{total_after_discount:.2f}")
print("--------------------")

personal_info = {
    "Name": "Devesh Kashyap",
    "Mobile Number": "6239887570",
    "Address": "Ridhi Towers, Shivalik City, Kharar",
    "Email": "devesh.kashyap@example.com" # Added a placeholder email
}

print("--- Personal Information ---")
for key, value in personal_info.items():
    print(f"{key}: {value}")

Enter the price for person 1: 500
Enter the price for person 2: 420
Enter the discount percentage: 25

--- Bill Details ---
Price for Person 1: Rs500.00
Price for Person 2: Rs420.00
Total bill before discount: Rs920.00
Discount percentage applied: 25.00%
Discount amount: Rs230.00
Total bill after discount: Rs690.00
--------------------
--- Personal Information ---
Name: Devesh Kashyap
Mobile Number: 6239887570
Address: Ridhi Towers, Shivalik City, Kharar
Email: devesh.kashyap@example.com

In [ ]:
# Formula for Simple Interest: SI = (P * R * T) / 100
# Where P = Principal Amount, R = Annual Interest Rate, T = Time in Years

principal = float(input("Enter the principal amount: "))
annual_interest_rate = float(input("Enter the annual interest rate (%): "))
months = 205

# Convert months to years
time_in_years = months / 12

simple_interest = (principal * annual_interest_rate * time_in_years) / 100

print(f"\nPrincipal Amount: {principal:.2f}")
print(f"Annual Interest Rate: {annual_interest_rate:.2f}%")
print(f"Time Period: {months} months ({time_in_years:.2f} years)")
print(f"Simple Interest: {simple_interest:.2f}")

Enter the principal amount: 20
Enter the annual interest rate (%): 4

Principal Amount: 20.00
Annual Interest Rate: 4.00%
Time Period: 205 months (17.08 years)
Simple Interest: 13.67

In [ ]:
Day = input("Enter the name of the day ")
if Day == "Saturday":
  print("Weekend")
elif Day == "Sunday":
  print("Weekend")

elif Day == "Monday" :
  print("Weekday")

elif Day == "Tuesday" :
  print("Weekday")


elif Day == "Wednesday" :
  print("Weekday")

elif Day == "Thursday":
  print("Weekday")

elif Day == "Friday":
  print("Weekday")

Enter the name of the day Sunday
Weekend

In [ ]:
# Below is the code for total items in a cart, their latest prices and discounts
a = float(input("Polo Shirts: "))
b = float(input("Nike Air Jordon: "))
c = float(input("Puma Trousers: "))
d = float(input("Adidas Tanktops: "))
e = float(input("Nike Shorts: "))
f = float(input("Oud Arabia: "))
g = float(input("Bella Vita Oud: "))
discount1 = float(input("Enter the discount percentage: "))
discount2 = float(input("Enter the discount percentage: "))
discount3 = float(input("Enter the discount percentage: "))
discount4 = float(input("Enter the discount percentage: "))
discount5 = float(input("Enter the discount percentage: "))
discount6 = float(input("Enter the discount percentage: "))
discount7 = float(input("Enter the discount percentage: "))
Coupon = "SHOP50"
if Coupon == "SHOP50":
 print ("Coupon is valid")
elif Coupon == "SHOP100":
 print ("Coupon is not valid")

bill = a + b + c + d + e + f + g
discounted_bill = bill - (bill * discount1/ 100)
print("After discount your bill is: ", discounted_bill)
print("Your bill is:", bill)

# Address and Personal Information

personal_info = {
    "Name": "Devesh Kashyap",
    "Mobile Number": "6239887570",
    "Address": "Ridhi Towers, Shivalik City, Kharar",
    "Email": "devesh.kashyap@example.com"
}

print("--- Personal Information ---")
for key, value in personal_info.items():
    print(f"{key}: {value}")

Polo Shirts:3000
Nike Air Jordon:9500
Puma Trousers:4500
Adidas Tanktops:2500
Nike Shorts:2000
Oud Arabia:5000
Bella Vita Oud:500
Enter the discount percentage:30
Enter the discount percentage:25
Enter the discount percentage:15
Enter the discount percentage:45
Enter the discount percentage:50
Enter the discount percentage:20
Enter the discount percentage:30
Coupon is valid
After discount your bill is:  18900.0
Your bill is: 27000.0
--- Personal Information ---
Name: Devesh Kashyap
Mobile Number: 6239887570
Address: Ridhi Towers, Shivalik City, Kharar
Email: devesh.kashyap@example.com

In [ ]:
a = float(input("Pizza:"))
b = float(input("Pasta:"))
c = float(input("Paneer Changezi:"))
d = float (input("Combo Offer, Coke and Fries:"))
price_person1 = float(input("Enter the price for person 1: "))
price_person2 = float(input("Enter the price for person 2: "))
discount = float(input("Enter the discount percentage:"))
Coupon = "SHOP50"
if Coupon == "SHOP50":
 print ("Coupon is valid")
elif Coupon == "SHOP100":
 print ("Coupon is not valid")
bill = a + b + c
print("Your bill is:", bill)
discounted_bill = bill - (bill * discount / 100)
print("After discount your bill is: ", discounted_bill)

# Adding more elif conditions (example)
if bill > 1000:
    print("You get a free dessert!")
elif bill > 500:
    print("You get a free drink!")
elif bill > 200:
    print("You get 10% off on your next visit!")
else:
    print("Thank you for your order!")

Pizza:250
Pasta:300
Paneer Changezi:90
Combo Offer, Coke and Fries:200
Enter the price for person 1: 450
Enter the price for person 2: 390
Enter the discount percentage:10
Coupon is valid
Your bill is: 640.0
After discount your bill is:  576.0
You get a free drink!

In [ ]:
Gender = input("Enter your Gender ")
Age = int(input(" Enter your Age "))

if Gender == "Male" or Gender == "Female" :
  if Gender == "Male":
    print ("Assigned to Building A")
    if Age >= 25:
      print ("Assigned to Block 1 in Building A")
    else :
      print ("Assigned to Block 2 in Building A")

  elif Gender == "Female" :
    print ("Assigned to Building B")
    if Age >= 25 :
      print ("Assigned to Block 1 in Building B")
    else :
      print ("Assigned to Block 2 in Building B")

else :
  print ("Invalid Gender entered.")

Enter your Gender Male
 Enter your Age 21
Assigned to Building A
Assigned to Block 2 in Building A

In [ ]:
def check_hotels()
Gender = input("Enter your Gender ")
Age = int(input(" Enter your Age "))

if Gender == "Male" or Gender == "Female" :
  if Gender == "Male":
    print ("Assigned to Building A")
    if Age >= 25:
      print ("Assigned to Block 1 in Building A")
    else :
      print ("Assigned to Block 2 in Building A")

  elif Gender == "Female" :
    print ("Assigned to Building B")
    if Age >= 25 :
      print ("Assigned to Block 1 in Building B")
    else :
      print ("Assigned to Block 2 in Building B")

else :
  print ("Invalid Gender entered.")

 return ''

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 23)

In [ ]:
Gender = input("Enter your Gender (Male/Female): ")
Age = int(input("Enter your Age: "))

if Gender == "Female":
    print("You are allotted a seat in the Ladies coach.")
elif Gender == "Male" and Age >= 60:
    print("You are allotted a seat in the Senior Citizen coach.")
elif Gender == "Male" and Age < 60:
    print("You are allotted a seat in the General coach.")
else:
    print("Invalid input. Please enter 'Male' or 'Female' for Gender.")

Enter your Gender (Male/Female): Male
Enter your Age: 68
You are allotted a seat in the Senior Citizen coach.

In [ ]:
# Following is a code to determine which year is a leap year and a non-leap year

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is a non-leap year.")

Enter a year: 2019
2019 is a non-leap year.

In [ ]:
principal = float(input("Enter the principal amount: "))
annual_interest_rate = float(input("Enter the annual interest rate (%): "))
month = input("Enter the month (e.g., January): ")

days_in_months = {"January": 31, "February": 28,"March": 31,"April": 30,"May": 31,"June": 30,"July": 31,"August": 31,"September": 30,"October": 31,"November": 30,"December": 31}

days_in_month = days_in_months.get(month, 0)

if days_in_month == 0:
    print("Invalid month entered. Assuming 0 days for calculation.")
    if month == "February":
        days_in_month = 29

days = int(input("Enter the number of extra days: "))

total_days = days_in_month + days

time_in_years = total_days / 365
simple_interest = (principal * annual_interest_rate * time_in_years) / 100

print(f"\nPrincipal Amount: {principal:.2f}")
print(f"Annual Interest Rate: {annual_interest_rate:.2f}%")
print(f"Time Period: {days_in_month} days in {month} + {days} extra days ({total_days} total days, {time_in_years:.2f} years)")
print(f"Simple Interest: {simple_interest:.2f}")

Enter the principal amount: 2000
Enter the annual interest rate (%): 18
Enter the month (e.g., January): February
Enter the number of extra days: 1

Principal Amount: 2000.00
Annual Interest Rate: 18.00%
Time Period: 28 days in February + 1 extra days (29 total days, 0.08 years)
Simple Interest: 28.60

In [ ]:
principal = float(input("Enter the principal amount: "))
annual_interest_rate = float(input("Enter the annual interest rate (%): "))
month = input("Enter the month: ")

days_in_months = {"January": 31, "February": 28,"March": 31,"April": 30,"May": 31,"June": 30,"July": 31,"August": 31,"September": 30,"October": 31,"November": 30,"December": 31}

if days_in_month == 0:
    print("Invalid month entered. Assuming 0 days for calculation.")
    if month == "February":
        days_in_month = 29

total_days = days_in_month + days

time_in_years = total_days / 365
compound_interest = principal * (1 + (annual_interest_rate / 100)) ** total_days - principal

print(f"\nPrincipal Amount: {principal:.2f}")
print(f"Annual Interest Rate: {annual_interest_rate:.2f}%")
print(f"Time Period: {days_in_month} days in {month} + ({total_days} total days, {time_in_years:.2f} years)")
print(f"Compound Interest: {compound_interest:.2f}")

Enter the principal amount: 5000
Enter the annual interest rate (%): 20
Enter the month: June

Principal Amount: 5000.00
Annual Interest Rate: 20.00%
Time Period: 30 days in June + (30 total days, 0.08 years)
Compound Interest: 1181881.57

In [ ]:
direction = input("Enter the direction of traffic (North Outgoing, North Incoming, South Outgoing, South Incoming, West Outgoing, West Incoming, East Outgoing, East Incoming): ")
light_color = input("Enter the color of the traffic light (Red, Yellow, Green): ")

if direction == "North Outgoing":
  if light_color == "Red":
    print("North Outgoing traffic: Stop!")
  elif light_color == "Yellow":
    print("North Outgoing traffic: Prepare to stop.")
  elif light_color == "Green":
    print("North Outgoing traffic: Go!")
  else:
    print("Invalid light color entered for North Outgoing.")

elif direction == "North Incoming":
  if light_color == "Red":
    print("North Incoming traffic: Stop!")
  elif light_color == "Yellow":
    print("North Incoming traffic: Prepare to stop.")
  elif light_color == "Green":
    print("North Incoming traffic: Go!")
  else:
    print("Invalid light color entered for North Incoming.")

elif direction == "South Outgoing":
  if light_color == "Red":
    print("South Outgoing traffic: Stop!")
  elif light_color == "Yellow":
    print("South Outgoing traffic: Prepare to stop.")
  elif light_color == "Green":
    print("South Outgoing traffic: Go!")
  else:
    print("Invalid light color entered for South Outgoing.")

elif direction == "South Incoming":
  if light_color == "Red":
    print("South Incoming traffic: Stop!")
  elif light_color == "Yellow":
    print("South Incoming traffic: Prepare to stop.")
  elif light_color == "Green":
    print("South Incoming traffic: Go!")
  else:
    print("Invalid light color entered for South Incoming.")

elif direction == "West Outgoing":
  if light_color == "Red":
    print("West Outgoing traffic: Stop!")
  elif light_color == "Yellow":
    print("West Outgoing traffic: Prepare to stop.")
  elif light_color == "Green":
    print("West Outgoing traffic: Go!")
  else:
    print("Invalid light color entered for West Outgoing.")

elif direction == "West Incoming":
  if light_color == "Red":
    print("West Incoming traffic: Stop!")
  elif light_color == "Yellow":
    print("West Incoming traffic: Prepare to stop.")
  elif light_color == "Green":
    print("West Incoming traffic: Go!")
  else:
    print("Invalid light color entered for West Incoming.")

elif direction == "East Outgoing":
  if light_color == "Red":
    print("East Outgoing traffic: Stop!")
  elif light_color == "Yellow":
    print("East Outgoing traffic: Prepare to stop.")
  elif light_color == "Green":
    print("East Outgoing traffic: Go!")
  else:
    print("Invalid light color entered for East Outgoing.")

elif direction == "East Incoming":
  if light_color == "Red":
    print("East Incoming traffic: Stop!")
  elif light_color == "Yellow":
    print("East Incoming traffic: Prepare to stop.")
  elif light_color == "Green":
    print("East Incoming traffic: Go!")
  else:
    print("Invalid light color entered for East Incoming.")

else:
  print("Invalid direction entered.")

Enter the direction of traffic (North Outgoing, North Incoming, South Outgoing, South Incoming, West Outgoing, West Incoming, East Outgoing, East Incoming): North Incoming
Enter the color of the traffic light (Red, Yellow, Green): Yellow
North Incoming traffic: Prepare to stop.

In [ ]:
Sum = 0
for i in range(1,10):
 Sum= Sum+i
 print(Sum)

1
3
6
10
15
21
28
36
45

In [ ]:
Sum = 10
for i in range(1, 1001):
  if i % 10 == 0:
    print(f"{i} is divisible by 10. Result of Sum / i: {Sum / i}")
  elif i % 25 == 0:
    print(f"{i} is divisible by 25. Result of Sum / i: {Sum / i}")

10 is divisible by 10. Result of Sum / i: 1.0
20 is divisible by 10. Result of Sum / i: 0.5
25 is divisible by 25. Result of Sum / i: 0.4
30 is divisible by 10. Result of Sum / i: 0.3333333333333333
40 is divisible by 10. Result of Sum / i: 0.25
50 is divisible by 10. Result of Sum / i: 0.2
60 is divisible by 10. Result of Sum / i: 0.16666666666666666
70 is divisible by 10. Result of Sum / i: 0.14285714285714285
75 is divisible by 25. Result of Sum / i: 0.13333333333333333
80 is divisible by 10. Result of Sum / i: 0.125
90 is divisible by 10. Result of Sum / i: 0.1111111111111111
100 is divisible by 10. Result of Sum / i: 0.1
110 is divisible by 10. Result of Sum / i: 0.09090909090909091
120 is divisible by 10. Result of Sum / i: 0.08333333333333333
125 is divisible by 25. Result of Sum / i: 0.08
130 is divisible by 10. Result of Sum / i: 0.07692307692307693
140 is divisible by 10. Result of Sum / i: 0.07142857142857142
150 is divisible by 10. Result of Sum / i: 0.06666666666666667
160 is divisible by 10. Result of Sum / i: 0.0625
170 is divisible by 10. Result of Sum / i: 0.058823529411764705
175 is divisible by 25. Result of Sum / i: 0.05714285714285714
180 is divisible by 10. Result of Sum / i: 0.05555555555555555
190 is divisible by 10. Result of Sum / i: 0.05263157894736842
200 is divisible by 10. Result of Sum / i: 0.05
210 is divisible by 10. Result of Sum / i: 0.047619047619047616
220 is divisible by 10. Result of Sum / i: 0.045454545454545456
225 is divisible by 25. Result of Sum / i: 0.044444444444444446
230 is divisible by 10. Result of Sum / i: 0.043478260869565216
240 is divisible by 10. Result of Sum / i: 0.041666666666666664
250 is divisible by 10. Result of Sum / i: 0.04
260 is divisible by 10. Result of Sum / i: 0.038461538461538464
270 is divisible by 10. Result of Sum / i: 0.037037037037037035
275 is divisible by 25. Result of Sum / i: 0.03636363636363636
280 is divisible by 10. Result of Sum / i: 0.03571428571428571
290 is divisible by 10. Result of Sum / i: 0.034482758620689655
300 is divisible by 10. Result of Sum / i: 0.03333333333333333
310 is divisible by 10. Result of Sum / i: 0.03225806451612903
320 is divisible by 10. Result of Sum / i: 0.03125
325 is divisible by 25. Result of Sum / i: 0.03076923076923077
330 is divisible by 10. Result of Sum / i: 0.030303030303030304
340 is divisible by 10. Result of Sum / i: 0.029411764705882353
350 is divisible by 10. Result of Sum / i: 0.02857142857142857
360 is divisible by 10. Result of Sum / i: 0.027777777777777776
370 is divisible by 10. Result of Sum / i: 0.02702702702702703
375 is divisible by 25. Result of Sum / i: 0.02666666666666667
380 is divisible by 10. Result of Sum / i: 0.02631578947368421
390 is divisible by 10. Result of Sum / i: 0.02564102564102564
400 is divisible by 10. Result of Sum / i: 0.025
410 is divisible by 10. Result of Sum / i: 0.024390243902439025
420 is divisible by 10. Result of Sum / i: 0.023809523809523808
425 is divisible by 25. Result of Sum / i: 0.023529411764705882
430 is divisible by 10. Result of Sum / i: 0.023255813953488372
440 is divisible by 10. Result of Sum / i: 0.022727272727272728
450 is divisible by 10. Result of Sum / i: 0.022222222222222223
460 is divisible by 10. Result of Sum / i: 0.021739130434782608
470 is divisible by 10. Result of Sum / i: 0.02127659574468085
475 is divisible by 25. Result of Sum / i: 0.021052631578947368
480 is divisible by 10. Result of Sum / i: 0.020833333333333332
490 is divisible by 10. Result of Sum / i: 0.02040816326530612
500 is divisible by 10. Result of Sum / i: 0.02
510 is divisible by 10. Result of Sum / i: 0.0196078431372549
520 is divisible by 10. Result of Sum / i: 0.019230769230769232
525 is divisible by 25. Result of Sum / i: 0.01904761904761905
530 is divisible by 10. Result of Sum / i: 0.018867924528301886
540 is divisible by 10. Result of Sum / i: 0.018518518518518517
550 is divisible by 10. Result of Sum / i: 0.01818181818181818
560 is divisible by 10. Result of Sum / i: 0.017857142857142856
570 is divisible by 10. Result of Sum / i: 0.017543859649122806
575 is divisible by 25. Result of Sum / i: 0.017391304347826087
580 is divisible by 10. Result of Sum / i: 0.017241379310344827
590 is divisible by 10. Result of Sum / i: 0.01694915254237288
600 is divisible by 10. Result of Sum / i: 0.016666666666666666
610 is divisible by 10. Result of Sum / i: 0.01639344262295082
620 is divisible by 10. Result of Sum / i: 0.016129032258064516
625 is divisible by 25. Result of Sum / i: 0.016
630 is divisible by 10. Result of Sum / i: 0.015873015873015872
640 is divisible by 10. Result of Sum / i: 0.015625
650 is divisible by 10. Result of Sum / i: 0.015384615384615385
660 is divisible by 10. Result of Sum / i: 0.015151515151515152
670 is divisible by 10. Result of Sum / i: 0.014925373134328358
675 is divisible by 25. Result of Sum / i: 0.014814814814814815
680 is divisible by 10. Result of Sum / i: 0.014705882352941176
690 is divisible by 10. Result of Sum / i: 0.014492753623188406
700 is divisible by 10. Result of Sum / i: 0.014285714285714285
710 is divisible by 10. Result of Sum / i: 0.014084507042253521
720 is divisible by 10. Result of Sum / i: 0.013888888888888888
725 is divisible by 25. Result of Sum / i: 0.013793103448275862
730 is divisible by 10. Result of Sum / i: 0.0136986301369863
740 is divisible by 10. Result of Sum / i: 0.013513513513513514
750 is divisible by 10. Result of Sum / i: 0.013333333333333334
760 is divisible by 10. Result of Sum / i: 0.013157894736842105
770 is divisible by 10. Result of Sum / i: 0.012987012987012988
775 is divisible by 25. Result of Sum / i: 0.012903225806451613
780 is divisible by 10. Result of Sum / i: 0.01282051282051282
790 is divisible by 10. Result of Sum / i: 0.012658227848101266
800 is divisible by 10. Result of Sum / i: 0.0125
810 is divisible by 10. Result of Sum / i: 0.012345679012345678
820 is divisible by 10. Result of Sum / i: 0.012195121951219513
825 is divisible by 25. Result of Sum / i: 0.012121212121212121
830 is divisible by 10. Result of Sum / i: 0.012048192771084338
840 is divisible by 10. Result of Sum / i: 0.011904761904761904
850 is divisible by 10. Result of Sum / i: 0.011764705882352941
860 is divisible by 10. Result of Sum / i: 0.011627906976744186
870 is divisible by 10. Result of Sum / i: 0.011494252873563218
875 is divisible by 25. Result of Sum / i: 0.011428571428571429
880 is divisible by 10. Result of Sum / i: 0.011363636363636364
890 is divisible by 10. Result of Sum / i: 0.011235955056179775
900 is divisible by 10. Result of Sum / i: 0.011111111111111112
910 is divisible by 10. Result of Sum / i: 0.01098901098901099
920 is divisible by 10. Result of Sum / i: 0.010869565217391304
925 is divisible by 25. Result of Sum / i: 0.010810810810810811
930 is divisible by 10. Result of Sum / i: 0.010752688172043012
940 is divisible by 10. Result of Sum / i: 0.010638297872340425
950 is divisible by 10. Result of Sum / i: 0.010526315789473684
960 is divisible by 10. Result of Sum / i: 0.010416666666666666
970 is divisible by 10. Result of Sum / i: 0.010309278350515464
975 is divisible by 25. Result of Sum / i: 0.010256410256410256
980 is divisible by 10. Result of Sum / i: 0.01020408163265306
990 is divisible by 10. Result of Sum / i: 0.010101010101010102
1000 is divisible by 10. Result of Sum / i: 0.01

In [ ]:
for number in range(1, 101):
  if number % 2 == 0:
    print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for number in range(1, 101):
  if number % 2 != 0:
    print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
Sum = 25
Sum = 30
for i in range(1, 1001):
  if i % 25 == 0:
    print(f"{i} is divisible by 25. Result of Sum / i: {Sum / i}")
  elif i % 30 == 0:
    print(f"{i} is divisible by 30. Result of Sum / i: {Sum / i}")

25 is divisible by 25. Result of Sum / i: 1.2
30 is divisible by 30. Result of Sum / i: 1.0
50 is divisible by 25. Result of Sum / i: 0.6
60 is divisible by 30. Result of Sum / i: 0.5
75 is divisible by 25. Result of Sum / i: 0.4
90 is divisible by 30. Result of Sum / i: 0.3333333333333333
100 is divisible by 25. Result of Sum / i: 0.3
120 is divisible by 30. Result of Sum / i: 0.25
125 is divisible by 25. Result of Sum / i: 0.24
150 is divisible by 25. Result of Sum / i: 0.2
175 is divisible by 25. Result of Sum / i: 0.17142857142857143
180 is divisible by 30. Result of Sum / i: 0.16666666666666666
200 is divisible by 25. Result of Sum / i: 0.15
210 is divisible by 30. Result of Sum / i: 0.14285714285714285
225 is divisible by 25. Result of Sum / i: 0.13333333333333333
240 is divisible by 30. Result of Sum / i: 0.125
250 is divisible by 25. Result of Sum / i: 0.12
270 is divisible by 30. Result of Sum / i: 0.1111111111111111
275 is divisible by 25. Result of Sum / i: 0.10909090909090909
300 is divisible by 25. Result of Sum / i: 0.1
325 is divisible by 25. Result of Sum / i: 0.09230769230769231
330 is divisible by 30. Result of Sum / i: 0.09090909090909091
350 is divisible by 25. Result of Sum / i: 0.08571428571428572
360 is divisible by 30. Result of Sum / i: 0.08333333333333333
375 is divisible by 25. Result of Sum / i: 0.08
390 is divisible by 30. Result of Sum / i: 0.07692307692307693
400 is divisible by 25. Result of Sum / i: 0.075
420 is divisible by 30. Result of Sum / i: 0.07142857142857142
425 is divisible by 25. Result of Sum / i: 0.07058823529411765
450 is divisible by 25. Result of Sum / i: 0.06666666666666667
475 is divisible by 25. Result of Sum / i: 0.06315789473684211
480 is divisible by 30. Result of Sum / i: 0.0625
500 is divisible by 25. Result of Sum / i: 0.06
510 is divisible by 30. Result of Sum / i: 0.058823529411764705
525 is divisible by 25. Result of Sum / i: 0.05714285714285714
540 is divisible by 30. Result of Sum / i: 0.05555555555555555
550 is divisible by 25. Result of Sum / i: 0.05454545454545454
570 is divisible by 30. Result of Sum / i: 0.05263157894736842
575 is divisible by 25. Result of Sum / i: 0.05217391304347826
600 is divisible by 25. Result of Sum / i: 0.05
625 is divisible by 25. Result of Sum / i: 0.048
630 is divisible by 30. Result of Sum / i: 0.047619047619047616
650 is divisible by 25. Result of Sum / i: 0.046153846153846156
660 is divisible by 30. Result of Sum / i: 0.045454545454545456
675 is divisible by 25. Result of Sum / i: 0.044444444444444446
690 is divisible by 30. Result of Sum / i: 0.043478260869565216
700 is divisible by 25. Result of Sum / i: 0.04285714285714286
720 is divisible by 30. Result of Sum / i: 0.041666666666666664
725 is divisible by 25. Result of Sum / i: 0.041379310344827586
750 is divisible by 25. Result of Sum / i: 0.04
775 is divisible by 25. Result of Sum / i: 0.03870967741935484
780 is divisible by 30. Result of Sum / i: 0.038461538461538464
800 is divisible by 25. Result of Sum / i: 0.0375
810 is divisible by 30. Result of Sum / i: 0.037037037037037035
825 is divisible by 25. Result of Sum / i: 0.03636363636363636
840 is divisible by 30. Result of Sum / i: 0.03571428571428571
850 is divisible by 25. Result of Sum / i: 0.03529411764705882
870 is divisible by 30. Result of Sum / i: 0.034482758620689655
875 is divisible by 25. Result of Sum / i: 0.03428571428571429
900 is divisible by 25. Result of Sum / i: 0.03333333333333333
925 is divisible by 25. Result of Sum / i: 0.032432432432432434
930 is divisible by 30. Result of Sum / i: 0.03225806451612903
950 is divisible by 25. Result of Sum / i: 0.031578947368421054
960 is divisible by 30. Result of Sum / i: 0.03125
975 is divisible by 25. Result of Sum / i: 0.03076923076923077
990 is divisible by 30. Result of Sum / i: 0.030303030303030304
1000 is divisible by 25. Result of Sum / i: 0.03

In [ ]:
Pizza = 500
Burger = 150
Cake = 650
for i in range(1,10):
 print(Cake,Burger,Pizza)

650 150 500
650 150 500
650 150 500
650 150 500
650 150 500
650 150 500
650 150 500
650 150 500
650 150 500

In [ ]:
n = 5
while n > 0:
  print(n)
  n = n - 1

5
4
3
2
1

In [ ]:
n = 15
while n < 30 :
  print(n)
  n = n + 2

15
17
19
21
23
25
27
29

In [ ]:
a, b = 0, 1
limit = 11

for _ in range(limit):
    print(a)
    fib = a + b
    a = b
    b = fib

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
a, b = 0, 1
first_number = 0
limit = 11

while first_number < limit:
  print(a)
  fib = a + b
  a = b
  b = fib
  first_number += 1

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
num = 56678
sum = 0
while(num>0):
  dig = num%10
  sum = sum + (dig*dig)
  num = num//10

print(sum)

210

In [ ]:
num = 64732
sum = 0
while(num>0):
  dig = num%10
  sum = sum + (dig*dig)
  num = num//10

print(sum)

114

In [ ]:
a = 20
b = 3
round(20/3)

7

round(a/b)

In [ ]:
num = 56892
sum = 0
while(num>0):
  dig = num%10
  sum = sum*10 + dig
  num = num//10

print(sum)

29865

In [ ]:
num = 12345
reversed_num = 0
while num > 0:
  dig = num % 10
  if dig >= 0:
    reversed_num = reversed_num * 10 + dig
  num = num // 10

print(reversed_num)

54321

In [ ]:
print("Prime numbers from 1 to 100:")

for number in range(2, 101):
  is_prime = True
  divisor = 2
  while divisor * divisor <= number:
    if number % divisor == 0:
      is_prime = False
      break
    divisor += 1
  if is_prime:
    print(number)

Prime numbers from 1 to 100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
print("Factorials from 1 to 100:")

factorial = 1
for i in range(1, 101):
  factorial *= i
  print(f"The factorial of {i} is: {factorial}")

Factorials from 1 to 100:
The factorial of 1 is: 1
The factorial of 2 is: 2
The factorial of 3 is: 6
The factorial of 4 is: 24
The factorial of 5 is: 120
The factorial of 6 is: 720
The factorial of 7 is: 5040
The factorial of 8 is: 40320
The factorial of 9 is: 362880
The factorial of 10 is: 3628800
The factorial of 11 is: 39916800
The factorial of 12 is: 479001600
The factorial of 13 is: 6227020800
The factorial of 14 is: 87178291200
The factorial of 15 is: 1307674368000
The factorial of 16 is: 20922789888000
The factorial of 17 is: 355687428096000
The factorial of 18 is: 6402373705728000
The factorial of 19 is: 121645100408832000
The factorial of 20 is: 2432902008176640000
The factorial of 21 is: 51090942171709440000
The factorial of 22 is: 1124000727777607680000
The factorial of 23 is: 25852016738884976640000
The factorial of 24 is: 620448401733239439360000
The factorial of 25 is: 15511210043330985984000000
The factorial of 26 is: 403291461126605635584000000
The factorial of 27 is: 10888869450418352160768000000
The factorial of 28 is: 304888344611713860501504000000
The factorial of 29 is: 8841761993739701954543616000000
The factorial of 30 is: 265252859812191058636308480000000
The factorial of 31 is: 8222838654177922817725562880000000
The factorial of 32 is: 263130836933693530167218012160000000
The factorial of 33 is: 8683317618811886495518194401280000000
The factorial of 34 is: 295232799039604140847618609643520000000
The factorial of 35 is: 10333147966386144929666651337523200000000
The factorial of 36 is: 371993326789901217467999448150835200000000
The factorial of 37 is: 13763753091226345046315979581580902400000000
The factorial of 38 is: 523022617466601111760007224100074291200000000
The factorial of 39 is: 20397882081197443358640281739902897356800000000
The factorial of 40 is: 815915283247897734345611269596115894272000000000
The factorial of 41 is: 33452526613163807108170062053440751665152000000000
The factorial of 42 is: 1405006117752879898543142606244511569936384000000000
The factorial of 43 is: 60415263063373835637355132068513997507264512000000000
The factorial of 44 is: 2658271574788448768043625811014615890319638528000000000
The factorial of 45 is: 119622220865480194561963161495657715064383733760000000000
The factorial of 46 is: 5502622159812088949850305428800254892961651752960000000000
The factorial of 47 is: 258623241511168180642964355153611979969197632389120000000000
The factorial of 48 is: 12413915592536072670862289047373375038521486354677760000000000
The factorial of 49 is: 608281864034267560872252163321295376887552831379210240000000000
The factorial of 50 is: 30414093201713378043612608166064768844377641568960512000000000000
The factorial of 51 is: 1551118753287382280224243016469303211063259720016986112000000000000
The factorial of 52 is: 80658175170943878571660636856403766975289505440883277824000000000000
The factorial of 53 is: 4274883284060025564298013753389399649690343788366813724672000000000000
The factorial of 54 is: 230843697339241380472092742683027581083278564571807941132288000000000000
The factorial of 55 is: 12696403353658275925965100847566516959580321051449436762275840000000000000
The factorial of 56 is: 710998587804863451854045647463724949736497978881168458687447040000000000000
The factorial of 57 is: 40526919504877216755680601905432322134980384796226602145184481280000000000000
The factorial of 58 is: 2350561331282878571829474910515074683828862318181142924420699914240000000000000
The factorial of 59 is: 138683118545689835737939019720389406345902876772687432540821294940160000000000000
The factorial of 60 is: 8320987112741390144276341183223364380754172606361245952449277696409600000000000000
The factorial of 61 is: 507580213877224798800856812176625227226004528988036003099405939480985600000000000000
The factorial of 62 is: 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000
The factorial of 63 is: 1982608315404440064116146708361898137544773690227268628106279599612729753600000000000000
The factorial of 64 is: 126886932185884164103433389335161480802865516174545192198801894375214704230400000000000000
The factorial of 65 is: 8247650592082470666723170306785496252186258551345437492922123134388955774976000000000000000
The factorial of 66 is: 544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000
The factorial of 67 is: 36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000
The factorial of 68 is: 2480035542436830599600990418569171581047399201355367672371710738018221445712183296000000000000000
The factorial of 69 is: 171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000
The factorial of 70 is: 11978571669969891796072783721689098736458938142546425857555362864628009582789845319680000000000000000
The factorial of 71 is: 850478588567862317521167644239926010288584608120796235886430763388588680378079017697280000000000000000
The factorial of 72 is: 61234458376886086861524070385274672740778091784697328983823014963978384987221689274204160000000000000000
The factorial of 73 is: 4470115461512684340891257138125051110076800700282905015819080092370422104067183317016903680000000000000000
The factorial of 74 is: 330788544151938641225953028221253782145683251820934971170611926835411235700971565459250872320000000000000000
The factorial of 75 is: 24809140811395398091946477116594033660926243886570122837795894512655842677572867409443815424000000000000000000
The factorial of 76 is: 1885494701666050254987932260861146558230394535379329335672487982961844043495537923117729972224000000000000000000
The factorial of 77 is: 145183092028285869634070784086308284983740379224208358846781574688061991349156420080065207861248000000000000000000
The factorial of 78 is: 11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000
The factorial of 79 is: 894618213078297528685144171539831652069808216779571907213868063227837990693501860533361810841010176000000000000000000
The factorial of 80 is: 71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000
The factorial of 81 is: 5797126020747367985879734231578109105412357244731625958745865049716390179693892056256184534249745940480000000000000000000
The factorial of 82 is: 475364333701284174842138206989404946643813294067993328617160934076743994734899148613007131808479167119360000000000000000000
The factorial of 83 is: 39455239697206586511897471180120610571436503407643446275224357528369751562996629334879591940103770870906880000000000000000000
The factorial of 84 is: 3314240134565353266999387579130131288000666286242049487118846032383059131291716864129885722968716753156177920000000000000000000
The factorial of 85 is: 281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000
The factorial of 86 is: 24227095383672732381765523203441259715284870552429381750838764496720162249742450276789464634901319465571660595200000000000000000000
The factorial of 87 is: 2107757298379527717213600518699389595229783738061356212322972511214654115727593174080683423236414793504734471782400000000000000000000
The factorial of 88 is: 185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000
The factorial of 89 is: 16507955160908461081216919262453619309839666236496541854913520707833171034378509739399912570787600662729080382999756800000000000000000000
The factorial of 90 is: 1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000
The factorial of 91 is: 135200152767840296255166568759495142147586866476906677791741734597153670771559994765685283954750449427751168336768008192000000000000000000000
The factorial of 92 is: 12438414054641307255475324325873553077577991715875414356840239582938137710983519518443046123837041347353107486982656753664000000000000000000000
The factorial of 93 is: 1156772507081641574759205162306240436214753229576413535186142281213246807121467315215203289516844845303838996289387078090752000000000000000000000
The factorial of 94 is: 108736615665674308027365285256786601004186803580182872307497374434045199869417927630229109214583415458560865651202385340530688000000000000000000000
The factorial of 95 is: 10329978488239059262599702099394727095397746340117372869212250571234293987594703124871765375385424468563282236864226607350415360000000000000000000000
The factorial of 96 is: 991677934870949689209571401541893801158183648651267795444376054838492222809091499987689476037000748982075094738965754305639874560000000000000000000000
The factorial of 97 is: 96192759682482119853328425949563698712343813919172976158104477319333745612481875498805879175589072651261284189679678167647067832320000000000000000000000
The factorial of 98 is: 9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000
The factorial of 99 is: 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000
The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
a = 10
b = 5

print(f"Before swapping: a = {a}, b = {b}")

a = a + b
b = a - b
a = a - b

print(f"After swapping: a = {a}, b = {b}")

In [ ]:
num = int(input("Enter a number: "))
multiplication = 1

if num == 0:
  multiplication = 0
elif num > 0:
  while num > 0:
    dig = num % 10
    multiplication *= dig
    num = num // 10
else:
    print("Please enter a non-negative number.")
    multiplication = None

if multiplication is not None:
  print(f"The multiplication of the digits is: {multiplication}")

In [ ]:
year = int(input("Enter a year: "))

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(f"{year} is a leap year.")
    else:
      print(f"{year} is not a leap year.")
  else:
    print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

In [ ]:
print("Even numbers from 100 to 1:")

for number in range(100, 0, -1):
  if number % 2 == 0:
    print(number)

Even numbers from 100 to 1:
100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [ ]:
num = int(input("Enter a number: "))
multiplication = 1

if num == 0:
  multiplication = 0
elif num > 0:
  while num > 0:
    dig = num % 10
    multiplication *= dig
    num = num // 10
else:
    print("Please enter a non-negative number.")
    multiplication = None

if multiplication is not None:
  print(f"The multiplication of the digits is: {multiplication}")

Enter a number: 967
The multiplication of the digits is: 378

In [ ]:
def abracadabra():
  print("Dominic")
a = abracadabra()
print(a)

Dominic
None

In [ ]:
def speak():
  print("Hi")
speak()

Hi

In [ ]:
def factorial(a):
  result = 1
  for i in range(1, a + 1):
     result *= i
  return result

result_of_multiplication = factorial(5)
print(f"The result of 1*2*3*4*5 is: {result_of_multiplication}")

The result of 1*2*3*4*5 is: 120

In [ ]:
a, b = 0, 1
limit = 100

print("Fibonacci sequence up to 100:")
while a <= limit:
  print(a)
  fib = a + b
  a = b
  b = fib

Fibonacci sequence up to 100:
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
def factorial(n):
  if n < 0:
    return
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result

limit = 21

print(f"Factorials up to {limit}:")
for i in range(limit + 1):
    result_of_factorial = factorial(i)
    print(f"The factorial of {i} is: {result_of_factorial}")

Factorials up to 21:
The factorial of 0 is: 1
The factorial of 1 is: 1
The factorial of 2 is: 2
The factorial of 3 is: 6
The factorial of 4 is: 24
The factorial of 5 is: 120
The factorial of 6 is: 720
The factorial of 7 is: 5040
The factorial of 8 is: 40320
The factorial of 9 is: 362880
The factorial of 10 is: 3628800
The factorial of 11 is: 39916800
The factorial of 12 is: 479001600
The factorial of 13 is: 6227020800
The factorial of 14 is: 87178291200
The factorial of 15 is: 1307674368000
The factorial of 16 is: 20922789888000
The factorial of 17 is: 355687428096000
The factorial of 18 is: 6402373705728000
The factorial of 19 is: 121645100408832000
The factorial of 20 is: 2432902008176640000
The factorial of 21 is: 51090942171709440000

In [ ]:
def addnum(*arg):
 return sum(arg)

addnum(5682133,66692365,4851225,22699522,12)

99925257

In [ ]:
def addnum(*arg):
  sum = 0
  for i in arg:
    sum = sum + i
  return sum

print(addnum(25,45,64,75,81,63,22,14))

389

In [ ]:
def is_leap_year(year):

  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False

year_to_check = int(input("Enter a year: "))

if is_leap_year(year_to_check):
  print(f"{year_to_check} is a leap year.")
else:
  print(f"{year_to_check} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

In [ ]:
def recursive_factorial(n):

  if n < 0:
    return "Factorial is not defined for negative numbers"
  elif n == 0:
    return 1
  else:
    return n * recursive_factorial(n - 1)

def print_factorials_up_to(limit):

    if limit < 0:
        return
    else:
        print_factorials_up_to(limit - 1)
        result = recursive_factorial(limit)
        print(f"The factorial of {limit} is: {result}")

limit = 10

print(f"Factorials up to {limit} using recursion:")
print_factorials_up_to(limit)

Factorials up to 10 using recursion:
The factorial of 0 is: 1
The factorial of 1 is: 1
The factorial of 2 is: 2
The factorial of 3 is: 6
The factorial of 4 is: 24
The factorial of 5 is: 120
The factorial of 6 is: 720
The factorial of 7 is: 5040
The factorial of 8 is: 40320
The factorial of 9 is: 362880
The factorial of 10 is: 3628800

a = lambda a,b :a+b:

In [7]:
def recursive_factorial(n):
  if n < 0:
    return
  elif n == 0:
    return 1
  else:
    return n * recursive_factorial(n - 1)

factorial_1 = recursive_factorial(1)
factorial_3 = recursive_factorial(3)
factorial_5 = recursive_factorial(5)
factorial_7 = recursive_factorial(7)

sum_of_factorials = factorial_1 + factorial_3 + factorial_5 + factorial_7

print(f"The factorial of 1 is: {factorial_1}")
print(f"The factorial of 3 is: {factorial_3}")
print(f"The factorial of 5 is: {factorial_5}")
print(f"The factorial of 7 is: {factorial_7}")
print(f"The sum of the factorials is: {sum_of_factorials}")

The factorial of 1 is: 1
The factorial of 3 is: 6
The factorial of 5 is: 120
The factorial of 7 is: 5040
The sum of the factorials is: 5167

In [8]:
def recursive_factorial(n):
  if n < 0:
    return
  elif n == 0:
    return 1
  else:
    return n * recursive_factorial(n - 1)

factorial_2 = recursive_factorial(2)
factorial_6 = recursive_factorial(6)
factorial_10 = recursive_factorial(10)
factorial_14 = recursive_factorial(14)

sum_of_factorials = factorial_2 + factorial_6 + factorial_10 + factorial_14

print(f"The factorial of 2 is: {factorial_2}")
print(f"The factorial of 6 is: {factorial_6}")
print(f"The factorial of 10 is: {factorial_10}")
print(f"The factorial of 14 is: {factorial_14}")
print(f"The sum of the factorials is: {sum_of_factorials}")

The factorial of 2 is: 2
The factorial of 6 is: 720
The factorial of 10 is: 3628800
The factorial of 14 is: 87178291200
The sum of the factorials is: 87181920722

In [9]:
num = 30
print(f"Factors of {num}:")
for i in range(1, num + 1):
  if num % i == 0:
    print(i)

Factors of 30:
1
2
3
5
6
10
15
30

In [15]:
def find_hcf(a, b):

  while(b):
    a, b = b, a % b
  return a

num1 = 10
num2 = 20

hcf = find_hcf(num1, num2)

print(f"The HCF of {num1} and {num2} is: {hcf}")

The HCF of 300 and 450 is: 150

In [32]:
def find_hcf(a, b):

  while(b):
    a, b = b, a % b
  return a

def find_lcm(a, b):

  hcf = find_hcf(a, b)
  lcm = (a * b) // hcf

  return lcm

num1 = 100
num2 = 150

lcm = find_lcm(num1, num2)

print(f"The LCM of {num1} and {num2} is: {lcm}")

The LCM of 100 and 150 is: 300