<a href="https://colab.research.google.com/github/DK5050/Cbitts-1/blob/main/My_Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Devesh")

Devesh

In [ ]:
a = "My name is Devesh"

print(a)

My name is Devesh

In [ ]:
print ("My name is Devesh")
print ("My age is 25")
print ("My address is Ridhi Towers, Shivalik City, Kharar")
print ("My hobbies are watching anime and reading manga")
print ("My family includes my mother, my father, my sister-in-law and my brother")
print ("My goal in life is to earn boatload of money")
print ("I have graduated from Chitkara University, Baddi")
print ("I ave completed my graduation in B.E Computer Science")

My name is Devesh
My age is 25
My address is Ridhi Towers, Shivalik City, Kharar
My hobbies are watching anime and reading manga
My family includes my mother, my father, my sister-in-law and my brother
My goal in life is to earn boatload of money
I have graduated from Chitkara University, Baddi
I ave completed my graduation in B.E Computer Science

In [ ]:
a = 25
print ("My age is",a)

My age is 25

In [ ]:
# Below if the Top 5 most populated states in India

print ("Most populated states in India")
print ("1. Uttar Pradesh with population of 199 million")
print ("2. Maharashtra with population of 112 million")
print ("3. Bihar with population of 104 million")
print ("4. West Bengal with population of 91 million")
print ("5. Madhya Pradesh with population of 72 million")

Most populated states in India
1. Uttar Pradesh with population of 199 million
2. Maharashtra with population of 112 million
3. Bihar with population of 104 million
4. West Bengal with population of 91 million
5. Madhya Pradesh with population of 72 million

In [ ]:
a = "Devesh"
b = "Kashyap"
print (a+b)

DeveshKashyap

In [ ]:
a =2
b = 3
print (a+b)

5

In [ ]:
# Below are the details of Account and aslo the Account Holder.
"""there are all the information about the account holder and account"""

print ("Account holder details")
print ("Account Holder name = Devesh Kashyap")
print ("Registered Mobile number = 6239887570")
print ("Residential Address = Ridhi Towers, Shivalik City, Kharar")

print ("Account Details")
print ("Account Number = 35356998033")
print ("IFSC Code = SBIN0000702")
print ("Bank Name = STATE BANK OF INDIA")
print ("Branch Name = SBI RAMPUR BUSR, HP")

Account holder details
Account Holder name = Devesh Kashyap
Registered Mobile number = 6239887570
Residential Address = Ridhi Towers, Shivalik City, Kharar
Account Details
Account Number = 35356998033
IFSC Code = SBIN0000702
Bank Name = STATE BANK OF INDIA
Branch Name = SBI RAMPUR BUSR, HP

In [ ]:
# Below if my daily routine shedule

print (" My Daily Routine")
print ("7:00 AM Wake-Up")
print ("7:30 AM -8:30 AM Morning Workout")
print ("8:30 AM Freshen Up Time")
print ("9:00 AM Breakfast Time")
print ("9:30 AM OFF TO WORK")
print ("1:30 PM Lunch Time")
print ("3:00 PM OFF TO HOME FROM WORK")
print ("3:30 PM - 5:30 PM Academy Time")
print ("6:00 PM - 8:00 PM Hangout with friends")
print ("9 PM Dinner Time")
print ("10:00 PM OFF TO SLEEP")

 My Daily Routine
7:00 AM Wake-Up
7:30 AM -8:30 AM Morning Workout
8:30 AM Freshen Up Time
9:00 AM Breakfast Time
9:30 AM OFF TO WORK
1:30 PM Lunch Time
3:00 PM OFF TO HOME FROM WORK
3:30 PM - 5:30 PM Academy Time
6:00 PM - 8:00 PM Hangout with friends
9 PM Dinner Time
10:00 PM OFF TO SLEEP

In [1]:
#Below is my required monthly grocery list
"""all the items are in kg and litre"""

print ("Monthly Grocery List")
print ("Wheat = 10 kg")
print ("Rice = 10 kg")
print ("Sugar = 5 kg")
print ("Salt = 5 kg")
print ("Oil = 2 litre")
print ("Pulses = 2 kg/packet")
print ("Onion = 5 kg")
print ("Garlic = 2 kg")
print ("Potato = 5 kg")
print ("Ginger = 1 kg")
print ("Cold Drinks = 2 litre")
print ("Coffee = 1kg")
print ("Tea = 1 kg")
print ("1 Jumbo Pack of Corn Flakes")
print ("Porridge = 1 kg")

Monthly Grocery List
Wheat = 10 kg
Rice = 10 kg
Sugar = 5 kg
Salt = 5 kg
Oil = 2 litre
Pulses = 2 kg/packet
Onion = 5 kg
Garlic = 2 kg
Potato = 5 kg
Ginger = 1 kg
Cold Drinks = 2 litre
Coffee = 1kg
Tea = 1 kg
1 Jumbo Pack of Corn Flakes
Porridge = 1 kg